<div class="container">
  <div class="well">
    <h3><%= @post.name %></h3>
    <h6><%= @post.created_at %></h6>

    <p><%= @post.content %></p>
  </div>

  <div class="comments">
    <ul>
      <% if @post.comments.any? %>
        <% @post.comments.each do |comment| %>
          <li>
            <%= comment.content %>
          </li>
        <% end %>
      <% else %>
        <p>Nobody has commented on this. Perhaps nobody cares.</p>
      <% end %>
    </ul>
  </div>


  <%= link_to "Add Comment", new_post_comment_path(@post) %>
  <%= link_to "Edit Post", edit_post_path(@post) %>
  <%= link_to "Destroy Post Forever", post_path(@post),
            :data => {:confirm => "Obliterate for eternity?!?", :method => "delete"} %>
  <%= link_to "Return", posts_path %>
</div>
