<div class="container">
  <div class="well">
    <h3><%= @post.name %></h3>
    <h6><%= @post.created_at %> by <%= @post.user.email %></h6>

    <p><%= @post.content %></p>
  </div>

  <div class="comments">
    <ul>
      <% if @post.comments.any? %>
        <% @post.comments.each do |comment| %>
          <li>
            <%= comment.content %>
            <%= comment.created_at %>
            <%= comment.user.email %>
            <%= link_to "Edit Comment", edit_post_comment_path(@post, comment), class: "btn btn-xs btn-info" %>
            <%= link_to "Eliminate Comment", post_comment_path(@post, comment),
                        :data => {:confirm => "Comment Destruct?", :method => "delete"}, class: "btn btn-xs btn-danger" %>
          </li>
        <% end %>
      <% else %>
        <p>Nobody has commented on this. Perhaps nobody cares.</p>
      <% end %>
    </ul>
  </div>


  <%= link_to "Add Comment", new_post_comment_path(@post), class: "btn btn-md btn-success" %>
  <%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-md btn-info" %>
  <%= link_to "Destroy Post Forever", post_path(@post),
            :data => {:confirm => "Obliterate for eternity?!?", :method => "delete"}, class: "btn btn-md btn-danger" %>
</div>
